body {
    height: 100vh;
}

section {
    height: 100%;
    background-color: #FAFAD2;
    padding: 3em;
}

.url-form{
    padding: 3em;
}

#form-div {
  padding: 3em; 
  display: inline-block
}

#form-div form {
  width: 50vw; 
  display:inline-block;
}

#result-div{
  padding: 3em; 
  background-color: #F7F7F7;
}

#result-div div{
  padding: 1em;
}

#generated-url {
  width: 70vw;
}

#shorten-btn {
  display: none
}




input.error,
select.error,
textarea.error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.error-message {
  color: #B94A48;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}